<footer>
    <div class="register">
        <div class="message">
            <h2>Never miss an update!</h2>
            <p>SIGN UP TO OUR NEWSLETTER</p>
        </div>
        <div class="input">
            <input class="mail" type="email" placeholder="Email address">
            <input class="submit" type="submit" value="subscribe">
        </div>
    </div>
    <div class="links">
        <div class="first">
            <div class="call">
                <p>call center</p>
                <br>
                <p>15262</p>
                <div class="phone">
                    <i class="fa-solid fa-phone" style="color: #f20707;"></i>
                <p>+20 100 706 4441</p>
                </div>
                <br>
                <p>Tax ID: 296-550-078</p>
            </div>
            <div class="location">
                <p>ALEXANDRIA CONTACT & BRANCH LOCATOR</p>
                <ul>
                    <li><a href="#">Mostafa Kamel</a> <span> | </span></li>
                    <li><a href="#">Iqbal</a> <span> | </span></li>
                    <li><a href="#">Semoha</a> <span> | </span></li>
                    <li><a href="#">Gleem</a> <span> | </span></li>
                    <li><a href="#">Sisi Gaber</a> <span> | </span></li>
                    <li><a href="#">Syreia</a> <span> | </span></li>
                </ul>
            </div>
            <div class="contact">
                <p>SHEIKH ZAYED CONTACT & BRANCH LOCATOR</p>
                <ul>
                    <li><a href="#">The Strip Mall, Sodic</a></li>
                    <li><a href="#">Arkan, Phase 2</a></li>
                </ul>
            </div>
            <div class="quick-links">
                <p>QUICK LINKS</p>
                <ul>
                    <li><a href="#">terms of service</a></li>
                    <li><a href="#">delivery policy</a></li>
                    <li><a href="#">refund policy</a></li>
                    <li><a href="#">privacy policy</a></li>
                </ul>
            </div>
        </div>
        <hr>
    <div class="media">
        <div class="icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <p>© 2024, MR. BAKER Egypt</p>
    </div>
    </div>
</footer>
