

    
<header>
    <p>ACCEPTING CREDIT CARD PAYMENTS | RESERVE AND ORDER FOR DELIVERY OR PICK UP</p>
    <nav>
        <div class="all"><a href="">mr . baker</a>
        <div class="icons">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-regular fa-user"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
        </div>
       <ul>
    <li><a  routerLink="/">home</a></li>
    <li><a  routerLink="/gelato">gelato</a></li>
    <li><a  routerLink="/cakes">cakes3</a></li>
    <li><a  routerLink="/customized-cake">customized cakes</a></li>
    <li><a  routerLink="/dining">dining - sheikh zayed</a></li>
    <li><a  routerLink="/about-us">about us</a></li>
  </ul>
    </nav>
    <div style=" background-image: url(assets/20240111070017_0.jpg);" class="background" id="background">
        <a href="">Order now</a>
        <div class="icon">
            <i class="fa-solid fa-less-than"></i>
            <i class="fa-solid fa-greater-than"></i>
        </div>
    </div>
  </header>
  



