<section class="cakes">
    <h2>cakes</h2>
    <div class="all">
        <div class="item">
            <img src="assets/cakes/1.webp" alt="">
            <a class="desc" href="">Sandy Bites - 15 Pieces</a>
            <a class="price" href="">EGP 295.00</a>
        </div>
        <div class="item">
            <img src="assets/cakes/2.webp" alt="">
            <a class="desc" href="">Sandy Bites - 15 Pieces</a>
            <a class="price" href="">EGP 295.00</a>
        </div>
        <div class="item">
            <img src="assets/cakes/3.webp" alt="">
            <a class="desc" href="">Sandy Bites - 15 Pieces</a>
            <a class="price" href="">EGP 295.00</a>
        </div>
        <div class="item">
            <img src="assets/cakes/4.webp" alt="">
            <a class="desc" href="">Sandy Bites - 15 Pieces</a>
            <a class="price" href="">EGP 295.00</a>
        </div>
        <div class="item">
            <img src="assets/cakes/5.webp" alt="">
            <a class="desc" href="">Sandy Bites - 15 Pieces</a>
            <a class="price" href="">EGP 295.00</a>
        </div>
        <div class="item">
            <img src="assets/cakes/6.webp" alt="">
            <a class="desc" href="">Sandy Bites - 15 Pieces</a>
            <a class="price" href="">EGP 295.00</a>
        </div>
        <div class="item">
            <img src="assets/cakes/7.webp" alt="">
            <a class="desc" href="">Sandy Bites - 15 Pieces</a>
            <a class="price" href="">EGP 295.00</a>
        </div>
        <div class="item">
            <img src="assets/cakes/8.webp" alt="">
            <a class="desc" href="">Sandy Bites - 15 Pieces</a>
            <a class="price" href="">EGP 295.00</a>
        </div>
    </div>
    <a id="view2" class="view" href="">view all</a>
</section>
<section class="chocolate">
    <h2>shocolates & coffee delights</h2>
    <div class="all">
        <div class="item">
            <img src="assets/chocolates/1.webp" alt="">
            <h4>HANDCRAFTED CHOCOLATES</h4>
            <p>Discover our selection of Handcrafted Chocolates where man-hours translate into unwinding tastes</p>
            <a id="handcrafted" href="">discover now</a>
        </div>
        <div class="item">
            <img src="assets/chocolates/1.webp" alt="">
            <h4>SIGNATURE CHOCOLATES</h4>
            <p>Our Signature Chocolates assortment is guaranteed to satisfy every taste. Discover our eight Belgian signatures</p>
            <a id="signature" href="">discover now</a>
        </div>
        <div class="item">
            <img src="assets/chocolates/1.webp" alt="">
            <h4>COFFEE DELIGHTS</h4>
            <p>Double the pleasure that comes with coffee time and discover our selection of Coffee Delights. Even if you're not a coffee lover, here are ten reasons to further enjoy your "me time"</p>
            <a id="coffee" href="">discover now</a>
        </div>
    </div>